# Папки сборки
bin/
obj/
.vs/
publish/

# Логи и кэш
*.log
**/logs/
**/logs/*.log
**/logs/**/*.log

# Настройки среды
*.user
*.suo
*.vsconfig
appsettings.Development.json
appsettings.Local.json
secrets.json

# Конфигурация IDE
*.swp
*.sln.docstates

dbsettings.json
dbsettings.json 

# Visual Studio specific files
.vs/
.vscode/
# Ignore applicationhost.config (IIS Express)
applicationhost.config
# Ignore dtbcache files
.dtbcache.v2

